# Desenvolvendo Classes e recuperando dados das rodadas.

<h4> Notebook destinado ao desenvolvimento das classes para as rodadas e recuperação dos dados da tabela encontrada no grupo salvando a no banco.</h4>

## Import do Python

In [2]:
%load_ext autoreload
%autoreload 2

from IPython.display import display, Markdown, Latex,HTML
from urllib.request import urlopen

import sys
sys.path.append("../../../")

import pandas as pd
pd.options.display.max_columns = None
import numpy as np
from dateutil.parser import parse
import datetime
import json

from mongoengine import *

html = open("../custom_files/style.css", "r")
display(HTML("<style>\n" + "".join(html.readlines()) + "</style>"))
display(HTML("<style src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'></style>"))
display(HTML("<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'></script>"))
#display(HTML("<style src='https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css'></style>"))
display(HTML("<style src='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'></style>"))

## Carregando os dados da tabela

In [3]:
dados = pd.read_csv("/home/hugdiniz/Work/workspace/generic-model/data/OpenBar - 2021 - BD.csv")

### Exemplificação dos dados

In [12]:
dados

,time_id,Nome,Time,Mês,Rodada,Colocação,pts_rodada,pts_capitao,qtd_gol,qtd_atleta_gol,qtd_cartao,Patrimônio
0,544869,Bruno Alves,BGFA F.C,Maio,1,1,78.13,12.4,2,2,2,122.35
1,14454639,Marcus Vinícius,Commiteiro,Maio,1,2,62.95,12.4,2,2,2,111.79
2,14922900,Will Silva,WillShowww F.C.,Maio,1,3,58.35,12.4,1,1,2,107.98
3,29074871,Geraldo,Cresponizadooo F.C,Maio,1,4,54.89,12.4,2,2,4,106.71
4,3395194,Henrique,Amstel futebol Club,Maio,1,5,54.75,12.4,1,1,0,99.09
5,1244541,TONY ALVES,TSAAFC,Maio,1,6,49.37,12.4,1,1,4,95.34
6,3390328,Fernando Rodrigues,ViçosaStar FC,Maio,1,7,46.55,12.4,1,1,2,100.07
7,25593449,Edimar,cocada timão fc,Maio,1,8,45.21,0.0,1,1,4,101.99
8,4754684,Rogerinho,CR Rogerinho Vascão,Maio,1,9,42.95,12.4,1,1,6,91.19
9,1039148,Cristiano Viana Dias,CFC RADICAL,Maio,1,10,41.75,12.4,1,1,4,98.46
10,18187532,Edevaldo soares,val ffc 1902,Maio,1,11,40.77,12.4,1,1,4,93.02
11,28804167,Fabrício César,TRIKKOLOR FC,Maio,1,12,40.55,12.4,1,1,4,89.42
12,573044,Claudiano,Galo doido Viçosa,Maio,1,13,40.15,1.3,2,2,2,103.56
13,19712168,Michel Arruda,M.A Eclipse,Maio,1,14,39.09,12.4,1,1,4,90.33
14,14425978,Lucas Adorno,FahrenheitFC1,Maio,1,15,39.05,0.0,2,2,6,101.56
15,7251052,Caio Coimbra,Veron_la caida 2019,Maio,1,16,35.75,12.4,1,1,2,86.08
16,25318016,Lucas Pena,LpAzevedo,Maio,1,17,34.55,12.4,1,1,4,89.90
17,26080453,Laís Ap Fialho Dias,Lais Atlético MG,Maio,1,18,31.55,1.3,2,1,4,100.31
18,13969242,Ricardo Gandini,Rive beer,Maio,1,19,31.45,5.6,0,0,2,102.49
19,201715,Sr. Biduzido,Biduzido FC,Maio,1,20,24.85,0.0,1,1,4,87.12
20,258287,Hugo,Baia de Guanabara,Maio,1,21,13.65,-0.4,0,0,4,91.76
21,17978418,Ricardo Negorick,Adeyemi Futebol e Regatas,Maio,1,22,13.21,2.8,0,0,4,79.59
22,1537719,Jailton_Fernandes,LaBestia_China Azul,Maio,1,23,10.05,-0.6,0,0,4,88.78
23,2630594,Roger,Furacão da VP,Maio,1,24,4.24,0.8,0,0,4,74.44

## Iniciando o Acesso ao MongoDB

In [5]:
credentials = json.load(open("../../data/keys/mongo.json",))

In [6]:
connect(    
    host='mongodb+srv://'+credentials["user"]+':'+credentials["pwd"]+'@cartola-data.6zndg.gcp.mongodb.net/?retryWrites=true&w=majority'
)

MongoClient(host=['cartola-data-shard-00-02.6zndg.gcp.mongodb.net:27017', 'cartola-data-shard-00-00.6zndg.gcp.mongodb.net:27017', 'cartola-data-shard-00-01.6zndg.gcp.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-to3bei-shard-0', ssl=True, read_preference=Primary())

# Definindo a Classe

In [7]:
class Resultado(EmbeddedDocument):
    id_cartola = IntField()
    colocacao = IntField()
    pontos = FloatField() 
    pontos_capitao = FloatField() 
    patrimonio = FloatField() 
    gols = IntField()
    atletas_gol = IntField()
    cartaos = IntField() 
    
class Rodada(Document):
    numero = IntField() 
    mes = StringField()
    resultados = ListField(EmbeddedDocumentField(Resultado))

def importar_dados(line):
    t = Rodada()
    t.numero = line["Rodada"]
    t.mes = line["Mês"]
    t.resultados = recuperar_resultados(dados,t.numero)
    t.save()
    return t

def recuperar_resultados(df,numero):
    resultados_rodada = dados[dados["Rodada"] == numero]
    resultados = [r for r in resultados_rodada.apply(apply_resultados,axis=1).values]
    return resultados

def apply_resultados(line):
    r = Resultado()
    r.id_cartola = line["time_id"]
    r.colocacao = line["Colocação"]
    r.pontos = line["pts_rodada"]
    r.pontos_capitao = line["pts_capitao"]
    r.patrimonio = line["Patrimônio"]
    r.gols = line["qtd_gol"]
    r.atletas_gol = line["qtd_atleta_gol"]
    r.cartaos = line["qtd_cartao"]
    return r

In [8]:
resultados_rodada = dados[dados["Rodada"] == 1]
resultados = resultados_rodada.apply(apply_resultados,axis=1).values

In [11]:
resultados

array([<Resultado: Resultado object>, <Resultado: Resultado object>,
       <Resultado: Resultado object>, <Resultado: Resultado object>,
       <Resultado: Resultado object>, <Resultado: Resultado object>,
       <Resultado: Resultado object>, <Resultado: Resultado object>,
       <Resultado: Resultado object>, <Resultado: Resultado object>,
       <Resultado: Resultado object>, <Resultado: Resultado object>,
       <Resultado: Resultado object>, <Resultado: Resultado object>,
       <Resultado: Resultado object>, <Resultado: Resultado object>,
       <Resultado: Resultado object>, <Resultado: Resultado object>,
       <Resultado: Resultado object>, <Resultado: Resultado object>,
       <Resultado: Resultado object>, <Resultado: Resultado object>,
       <Resultado: Resultado object>, <Resultado: Resultado object>],
      dtype=object)

## Importando os dados no Banco

In [13]:
df_rodadas = dados.groupby(["Rodada","Mês"]).size().reset_index()
saida = df_rodadas.apply(importar_dados,axis=1)

## Teste de Sucesso da Importação

In [11]:
#TODO